page-play {
    ion-header {
        ion-icon {
            color: map-get($colors, light);
            float: right;
            padding: 0 20px;
            font-size: 1.5em;
        }
    }
    ion-content {
        ion-icon {
            color: map-get($colors, light);
        }
    }
    ion-footer {
        .song-name {
            color: map-get($colors, light);
            text-align: center;
            padding: 15px;
            width: 100%;
        }
        .control-col {
            display: flex;
            align-items: center;
            padding: 15px;
            font-size: 2.5rem;
            color: map-get($colors, light);
        }
        ion-item {
            background: none !important;
            .item-inner {
                border: none !important;
            }
        }
        ion-grid {
            height: 100px;
            align-items: center;
            ion-fab {
                position:  relative !important;
                .play-icon {
                    margin-left: 1rem;
                }
            }
        }
    }
    .toolbar-background-md {
        border-color: none !important;
        background: none !important;
    }
}
