<ion-header>
  <ion-navbar>
    <ion-icon item-end name="md-more" (click)="more()"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content padding></ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-range min="0" max="5" step="0.1" [(ngModel)]="duration"></ion-range>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-fab>
              <button ion-fab (click)="togglePlay()">
                  <ion-icon name="play" *ngIf="!globalDataProvider.isPlaying" item-end></ion-icon>
                  <ion-icon name="pause" *ngIf="globalDataProvider.isPlaying" item-end></ion-icon>    
              </button>
            </ion-fab>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>