<ion-header>
  <ion-navbar>
    <ion-icon item-end name="md-more" (click)="more()"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content padding></ion-content>

<ion-footer>
  <ion-row>
    <h1 class="song-name">{{globalDataProvider.currentSong.name}}</h1>
  </ion-row>
  <ion-toolbar>
    <ion-item>
      <ion-range min="0" max="{{globalDataProvider.currentSongDuration}}" step="0.1" [(ngModel)]="seekToDuration" (ngModelChange)="seekTo($event)">
          <!-- <ion-label range-left>{{seekToDuration}}</ion-label>
          <ion-label range-right>{{globalDataProvider.currentSongDuration}}</ion-label> -->
      </ion-range>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col class="control-col" (click)="previous()">
            <ion-icon name="md-skip-backward"></ion-icon>
        </ion-col>
        <ion-col>
            <ion-fab>
              <button ion-fab (click)="togglePlay()">
                  <ion-icon class="play-icon" name="play" *ngIf="!globalDataProvider.isPlaying" item-end></ion-icon>
                  <ion-icon class="pause-icon" name="pause" *ngIf="globalDataProvider.isPlaying" item-end></ion-icon>    
              </button>
            </ion-fab>
        </ion-col>
        <ion-col class="control-col" (click)="next()">
          <ion-icon name="md-skip-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>