page-videos {
    ion-content {
        .scroll-content {
            padding-bottom: 20px !important;
        }
        ion-list.videos-list {
            .item {
                padding: 1rem 1.5rem;
                font-size: 1.8rem;
                background: none !important;
            }
        }
    }
}
