play {
    .current-play {
        position: fixed;
        z-index: 1;
        bottom: 42px;
        left: 0;
        height: 50px;
        width: 100%;
        ion-item {
            background-color: map-get($colors, primary) !important;
            color: map-get($colors, light) !important;
            ion-icon {
                margin: 0 !important;
                padding: 11px 15px !important;
            }
        }
        .song-name {
            font-size: 2rem;
            margin-top: -0.1rem;
        }
    }
}
